version: '3.8'

services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672" # AMQP protocol (app dùng)
      - "15672:15672" # Web UI (trình duyệt dùng)
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
